{% extends 'coreApp/base.html' %} {% block content %}


<form method="post" action="">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">SUbmit</button>
</form>







<script>
    const fileInput = document.querySelector('#file-js-example input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#file-js-example .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>
{% endblock%}