{% extends 'coreApp/base.html' %} {% block content %}
<!-- <h1 class="title">Dashboard</h1> -->
{{ type_user }} {% if userprofile.is_employer %}
<p class=" buttons m-5 is-mobile">
    <button class=" button is-link is-outlined" disabled>
      <span class="icon">
        <i class="fab fa-briefcase"></i>
      </span>
      <span>Logged in as Employer</span>
    </button>
</p>
<!-- <h1 class="title"> Logged in as Employer</h1> -->
<div class="is-5 column" style="margin-bottom:100px;">
    <div class="content ">
        <div class="card-header title">
            Jobs Added
            <a class="button is-link is-outlined" href="{%url 'new' %}">Add New Job</a>
        </div>

        <div class="content">
            {% for job in request.user.jobs.all %}
            <ul style="list-style-type: none;">
                <li>


                    <a href="{% url 'view_dashboard_job' job.id %}"> 
      {{ job.title }}--{{ job.get_status_display}}
  </a>
                </li>
            </ul>
            {% empty %}
            <p>No Jobs Posted Yet</p>
            {% endfor %} {% else %}

            <h2 class="title  m-5">Logged in As Job seeker </h2>

            <h2 class="subtitle"> Job Applications</h2>
            {%for application in request.user.applications.all %}
            <div class="application">

                <a href="{% url 'view_application' application.id %}">  {{application.job.title}}</a>
            </div>
            {% empty %}
            <h2>Not Jobs Applications sent !!</h2>
            {% endfor%} {% endif %}
        </div>


    </div>
</div>
<!-- {{form.as_p}} hgjgyugh -->
{% if userprofile.is_employer %}
<!-- <a href="{% url 'company_profile' %}" class="button is-primary is-large">
    Launch  Profile Form
</a>  -->

<div class="container">

    <div class="columns is-multiline is-desktop is-vcentered ">


        <!-- <div class="column "> -->
        <div class="column is-4 is-mobile ">
            <div class="card" style="height: 200px;">
                <div class="card-content">
                    <div class="media">
                    </div>
                    <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                        <span class="is-large icon is-vcentered">
                <i class="fas fa-user-alt fa-5x"></i>
               </span>
                        <!-- <hr>
                <a href="" class="button is-link is-outlined">Read More</a> -->
                    </div>
                    <div class="title is-4 has-text-centered">
                        <hr> Company's Profile
                    </div>
                </div>

            </div>
        </div>

        <div class="column is-4 is-mobile ">
            <div class="card" style="height: 200px;">
                <div class="card-content">
                    <div class="media">
                    </div>
                    <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                        <span class="is-large icon is-vcentered">
                <i class="fas fa-briefcase fa-5x"></i>

               </span>
                        <!-- <hr>
                <a href="" class="button is-link is-outlined">Read More</a> -->
                    </div>
                    <div class="title is-4 has-text-centered">
                        <hr> Jobs Posted
                    </div>
                </div>

            </div>
        </div>

        <div class="column is-4 is-mobile">
            <div class="card" style="height: 200px;">
                <div class="card-content">
                    <div class="media">
                    </div>
                    <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                        <span class="is-large icon is-vcentered">
                <i class="fas fa-file-alt fa-5x"></i>
               </span>
                        <!-- <hr>
                <a href="" class="button is-link is-outlined">Read More</a> -->
                    </div>
                    <div class="title is-4 has-text-centered">
                        <hr>Applications Received
                    </div>
                </div>

            </div>
        </div>

        <div class="column is-4 is-mobile">
            <div class="card" style="height: 200px;">
                <div class="card-content">
                    <div class="media">
                    </div>
                    <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                        <span class="is-large icon is-vcentered">
                <i class="fas fa-laptop-house fa-5x"></i>
               </span>
                        <!-- <hr>
                <a href="" class="button is-link is-outlined">Read More</a> -->
                    </div>
                    <div class="title is-4 has-text-centered">
                        <hr>Post New Job
                    </div>
                </div>

            </div>
        </div>





        <!-- </div> -->
    </div>
</div>
{% else %}
<!-- <i class="fas fa-user-alt"></i>
<i class="fas fa-users"></i> -->
<div class="container">
    <!-- <a role="button" class="button is-primary is-large modal-button md-button" data-target="modal" aria-haspopup="true">
    Launch Job seeker Profile Form
</a>  -->


    <div class="container">

        <div class="columns is-multiline is-desktop is-vcentered ">


            <!-- <div class="column "> -->
            <div class="column is-4 is-mobile ">
                <div class="card" style="height: 200px;">
                    <div class="card-content">
                        <div class="media">
                        </div>
                        <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                            <span class="is-large icon is-vcentered">
                    <i class="fas fa-user-alt fa-5x"></i>
                   </span>
                            <!-- <hr>
                    <a href="" class="button is-link is-outlined">Read More</a> -->
                        </div>
                        <div class="title is-4 has-text-centered">
                            <hr> JobSeeker Profile
                        </div>
                    </div>

                </div>
            </div>

            <div class="column is-4 is-mobile ">
                <div class="card" style="height: 200px;">
                    <div class="card-content">
                        <div class="media">
                        </div>
                        <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                            <span class="is-large icon is-vcentered">
                    <i class="fas fa-award fa-5x"></i>

                   </span>
                            <!-- <hr>
                    <a href="" class="button is-link is-outlined">Read More</a> -->
                        </div>
                        <div class="title is-4 has-text-centered">
                            <hr> Education
                        </div>
                    </div>

                </div>
            </div>

            <div class="column is-4 is-mobile">
                <div class="card" style="height: 200px;">
                    <div class="card-content">
                        <div class="media">
                        </div>
                        <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                            <span class="is-large icon is-vcentered">
                    <i class="fas fa-briefcase fa-5x"></i>
                   </span>
                            <!-- <hr>
                    <a href="" class="button is-link is-outlined">Read More</a> -->
                        </div>
                        <div class="title is-4 has-text-centered">
                            <hr> Work <br> Experience
                        </div>
                    </div>

                </div>
            </div>

            <div class="column is-4 is-mobile">
                <div class="card" style="height: 200px;">
                    <div class="card-content">
                        <div class="media">
                        </div>
                        <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                            <span class="is-large icon is-vcentered">
                    <i class="fas fa-laptop-house fa-5x"></i>
                   </span>
                            <!-- <hr>
                    <a href="" class="button is-link is-outlined">Read More</a> -->
                        </div>
                        <div class="title is-4 has-text-centered">
                            <hr> Jobs Applied
                        </div>
                    </div>

                </div>
            </div>

            <div class="column is-4 is-mobile">
                <div class="card" style="height: 200px;">
                    <div class="card-content">
                        <div class="media">
                        </div>
                        <div class="content " style="display:flex; position: relative; align-items: center; align-content: center; justify-content: center">
                            <span class="is-large icon is-vcentered">
                    <i class="fas fa-file-alt fa-5x"></i>
                   </span>
                            <!-- <hr>
                    <a href="" class="button is-link is-outlined">Read More</a> -->
                        </div>
                        <div class="title is-4 has-text-centered">
                            <hr> Cover Letter
                        </div>
                    </div>

                </div>
            </div>



            <!-- </div> -->
        </div>
    </div>
    {% endif %}


    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Job Seeker Details Form</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- {{form.as_p}} -->
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">First Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="first_name" id="id_first_name" class="input is-success" type="text" placeholder="Input First Name" value="">
                            <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                            <!-- <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span> -->
                        </div>
                        <!-- <p class="help is-success">This username is available</p> -->
                    </div>

                    <div class="field">
                        <label class="label">Last Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="last_name" id="id_last_name" class="input is-success" type="text" placeholder="Input Last Name" value="">
                            <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="title" id="id_title" class="input is-success" type="text" placeholder="Input Last Name" value="">
                            <span class="icon is-small is-left">
                        <!-- <i class="fas fa-user"></i> -->
                        <i class="fas fa-user-tag"></i>
                      </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Role</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="role" id="id_role" class="input is-success" type="text" placeholder="Input Last Name" value="">
                            <span class="icon is-small is-left">
                        <i class="fas fa-user-tag"></i>
                      </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Phone</label>
                        <div class="control has-icons-left has-icons-right">
                            <input value="{{ phone }}" name="phone" id="id_phone" class="input is-success" type="text" placeholder="Input Last Name" value="">
                            <span class="icon is-small is-left">
                        <!-- <i class="fas fa-user"></i> -->
                        <i class="fas fa-phone"></i>
                      </span>
                        </div>
                    </div>


                    <div class="field">
                        <label class="label">Country</label>
                        <p class="control has-icons-left">
                            <span class="select">
                                {% load countries %} {% get_countries as countries %}
                            <select>
                                {% for country in countries %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                            </select>
                          </span>
                            <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                          </span>
                        </p>
                    </div>



                    <div class="field">
                        <label for="gender" class="label">Gender</label>
                        <div class="control">
                            <div class="select">

                                <select name="gender" id="gender">
                                {% for choice in jobseeker_form.gender %}
                          <!-- <option value="Male">Male</option>
                          <option value="Female">Female</option> -->
                          <button><option value="gender">{{choice}}</option></button>
                       
                          
                          {% endfor %}
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button class="cancel button is-link is-light">Cancel</button>
                        </div>
                    </div>

                </form>
            </section>

        </div>
    </div>

</div>



<!-- <button id="modal" class="button is-primary is-large modal-button md-button" data-target="modal" aria-haspopup="true">Launch example modal</button> -->



<div style="margin-bottom:150px;"></div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".md-button").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".modal").toggleClass("is-active");
            // $(".delete").removeClass("is-active");

        });
        $(".modal-close").click(function() {
            $(".modal").removeClass("is-active");
        });
    });
    $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".delete,.cancel").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".modal").removeClass("is-active");
            // $(".delete").removeClass("is-active");

        });
    });
</script>


{% endblock %}