{% extends 'coreApp/base.html' %} {% block content %}
<h1 class="title">View Application</h1>

<h2 class="subtitle">{{ application.job.title}}</h2>
<small>{{ application.created_at}}</small>
<p> <strong>Content ::</strong>{{ application.content}} </p>

<p> <strong>Experience ::</strong>{{ application.experiences}} </p>

<hr>

<h2 class="subtitle">Conversations</h2>
{% for message in application.conversationmessage.all %}
<div class="notification">
    <b>{{ message.created_by.username}} --{{ message.created_at|timesince}}ago</b><br> {{ message.content }}
</div>
{% empty %}

<p>No Messages Yet ...</p>
<hr> {% endfor %}
<form action="." method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            <textarea name="content" id="id_content" placeholder="Your message" class="textarea"></textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-succes">Send</button>
        </div>
    </div>
</form>

{% endblock %}